.main_dload {
    width: 100%;
    clear: both;
    background: #fff;
    position: relative;
    float: left;
}
.dload_content {
    width: 100%;
    position: relative;
    margin: 0 auto;
    min-height: 450px;
}
.dload_header {
    position: relative;
    margin: 0 auto;
    width: 1280px;
}
 .dload_header p {
    color: #000;
    font-size: 28px;
    margin-top: 57px;
    margin-bottom: 0px;
    position: relative;
}
.dload_up  {
    width: 100%;
    height: 700px;
    background: #fff;
    margin-top: 100px;
}
.dload_center {
    width: 1280px;
    margin: 0 auto;
}
.dload_up .dl_up_left {
    width: 800px;
    margin-top: 40px;
}
.dl_computer_btm {
    float: left;
    margin-left: 61px;
    margin-top: -17px;
}
.dload_up .dl_up_right {
    width: 400px;
    float: left;
    margin-left: 60px;
    margin-top: -487px;
    text-align: center;
}
.download_title {
    color: #BD9655;
    font-size: 38px;
    text-align: center;
    clear: both;
    width: 100%;
}
.dl_up_right .bg_img1 {
    background-image: url(../images/download_1.png);
}
.dl_up_right .bg_img2 {
    background-image: url(../images/download_2.png);
}
.dl_up_right .bg_img3 {
    background-image: url(../images/download_3.png);
}
.dl_up_right .bg_img4 {
    background-image: url(../images/download_4.png);
}
.dl_up_right .bg_img5 {
    background-image: url(../images/download_5.png);
}
.download_module:hover {
    background: #E5E2D9;
}
.download_module:hover .bg_img1 {
    background-image: url(../images/download_1_hover.png);
}
.download_module:hover .bg_img2 {
    background-image: url(../images/download_2_hover.png);
}
.download_module:hover .bg_img3 {
    background-image: url(../images/download_3_hover.png);
}
.download_module:hover .bg_img4 {
    background-image: url(../images/download_4_hover.png);
}
.download_module:hover .bg_img5 {
    background-image: url(../images/download_5_hover.png);
}
.dl_up_right .download_module {
    width: 200px;
    height: 140px;
    float: left;
    display: inline-block;
}
.dl_up_right .dl_module_img {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    margin-left: 65px;
}
.dl_up_right .dl_module_text {
    margin-top: 10px;
    height: 70px;
    color: #717171;
    font-size: 13px;
}
.font_color_BD9655 {
    color: #BD9655;
}
.dl_up_right ul {
    margin-top: 60px;
}
/*DOWN*/
.dload_down {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #F1F2F4;
}
.dload_down .dl_btm_picture {
    height: 120px;
    width: 120px;
}
.dload_down .dl_module_text {
    color: #717171;
    font-size: 13px;
}
.dl_btm_content {
    margin-top: 50px;
    width: 600px;
    height: 500px;
    padding-top: 55px;
}
.dl_btm_content ul {
    width: 100%;
    float: left;
    margin-top: 50px;
    margin-left: 15%;
}
.dl_btm_content ul li {
    width: 50%;
    display: block;
    float: left;
}
.dl_phone {
    position: relative;
    float: left;
    width: 500px;
    margin-top: -667px;
    margin-left: 750px;
}
.dl_phone_btm {
    margin-top: -20px;
    margin-left: 10px;
}
.floatLeft {
    float: left !important;
}